---
permalink: /software.html
layout: default
---

<!-- Download Section -->
<section id="download" style="margin-top: 30px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Download</h2>
        </div>
    </div>
    <div class="row">
        <div class="container" style="background-color: white; color: black">
            <div class="text-center" style="margin: 30px 0;">
                <h4 style="text-transform: inherit; margin-bottom: 15px;">AutoPNN Open Source Code</h4>
                <p style="margin-bottom: 20px;">Download the complete AutoPNN framework source code</p>
                <div class="text-center">
                    <!-- <a href="/AutoPNN-main.zip" class="btn btn-primary btn-lg" download> -->
                    <a href="https://drive.google.com/file/d/1jV4heYMcd5wU8uG15kOlVEFXVmJRqHK1/view?usp=sharing" class="btn btn-primary btn-lg" target="_blank">
                        <span class="icon icon-download" style="margin-right: 8px;">⬇</span>
                        Download AutoPNN Source Code
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="sources" class="bg-light-gray"> -->
<section id="software" style="margin-top: 30px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Software</h2>
        </div>
    </div>
  
    <div class="row">
        <!-- <ul class="list-group col-lg-12"> -->
            <div class="container" style="background-color: white; color: black">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <!-- <button style="color: black;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> -->
                        <h4 style="text-transform: inherit;">Check out our github repositories!</h4>
                      <!-- </button> -->
                    </h5>
                  </div>

                  

                  <ul style="display: inline-block; 
                  text-align: left; list-style: none; margin-top: 20px; margin-left: 150px; margin-right: 150px;">
<hr style="margin-top: 25px;">

<li>
  <h4 style="text-transform: inherit;">EDA-Driven ML Circuits for Flexible Electronics (ISLPED’25)</h4>
  <p style="margin-top: 15px;">
    <div class="csl-right-inline">
      Code and scripts for low-power flexible stress-monitoring classifiers targeting conformal wearables; framework referenced by the ISLPED’25 paper.
    </div>
  </p>
  <div class="text-center">
    <span class="icon icon-github">{% include icon-github.svg %}</span>
    <a href="https://github.com/floAfentaki/EDA-Driven-ML-Circuits-for-Flexible-Electronics" class="git">
      EDA-Driven-ML-Circuits-for-Flexible-Electronics
    </a>
  </div>
</li>
                  <hr>

<!-- <hr style="margin-top: 25px;"> -->
 

<li>
  <h4 style="text-transform: inherit;">Enabling Printed Multilayer Perceptrons via Area-Aware Neural Minimization (TC’25)</h4>
  <p style="margin-top: 15px;">
    <div class="csl-right-inline">
      Area-aware methodology for printed MLPs, including HW-aware DSE notebooks, pretrained models, and generated Verilog for UCI datasets.
    </div>
  </p>
  <div class="text-center">
    <span class="icon icon-github">{% include icon-github.svg %}</span>
    <a href="https://github.com/ArgyKokk/Printed_MLPs" class="git">Printed_MLPs</a>
  </div>
</li>

<hr style="margin-top: 25px;">

<li>
  <h4 style="text-transform: inherit;">Sequential Support Vector Machine Circuits for Printed Electronics (ISCAS’25 / DATE’25-LBR)</h4>
  <p style="margin-top: 15px;">
    <div class="csl-right-inline">
      SystemVerilog implementation & generator for compact, accurate printed SVM classifiers using a single-MAC sequential engine and bespoke storage/control.
    </div>
  </p>
  <div class="text-center">
    <span class="icon icon-github">{% include icon-github.svg %}</span>
    <a href="https://github.com/floAfentaki/Support-Vector-Machine-Circuits-Targeting-Printed-Electronics" class="git">
      Support-Vector-Machine-Circuits-Targeting-Printed-Electronics
    </a>
  </div>
</li>

<hr style="margin-top: 25px;">


<li>
  <h4 style="text-transform: inherit;">Flex-SVM: Support Vector Machines for Flexible/Printed Electronics</h4>
  <p style="margin-top: 15px;">
    <div class="csl-right-inline">
      Repository with SVM designs and flows tailored to flexible/printed technologies, focusing on compact RTL and evaluation scripts.
    </div>
  </p>
  <div class="text-center">
    <span class="icon icon-github">{% include icon-github.svg %}</span>
    <a href="https://github.com/PolykarposV/Flex-SVM" class="git">Flex-SVM</a>
  </div>
</li>

<hr style="margin-top: 25px;">

<li>
  <h4 style="text-transform: inherit;">Approximate Popcount & Popcount-Compare for Ternary Neurons (ICCAD’24)</h4>
  <p style="margin-top: 15px;">
    <div class="csl-right-inline">
      Library of approximate PC/PCC circuits (HW + SW) used to build printed Ternary Neural Networks; includes multi-objective optimization assets.
    </div>
  </p>
  <div class="text-center">
    <span class="icon icon-github">{% include icon-github.svg %}</span>
    <a href="https://github.com/ehw-fit/approximate-popcount" class="git">approximate-popcount</a>
  </div>
</li>

<hr style="margin-top: 25px;">

<li>
  <h4 style="text-transform: inherit;">Approximate Popcount & Popcount-Compare for Ternary Neurons (ICCAD’24)</h4>
  <p style="margin-top: 15px;">
    <div class="csl-right-inline">
      Library of approximate PC/PCC circuits (HW + SW) used to build printed Ternary Neural Networks; includes multi-objective optimization assets.
    </div>
  </p>
  <div class="text-center">
    <span class="icon icon-github">{% include icon-github.svg %}</span>
    <a href="https://github.com/ehw-fit/approximate-popcount" class="git">approximate-popcount</a>
  </div>
</li>

<hr style="margin-top: 25px;">


                  <!-- <li > 
                    <h4 style="text-transform: inherit;">Bespoke Approximation of Multiplication Accumulation and ActivationTargeting Printed Multilayer Perceptrons</h4>
                    <p style="margin-top: 15px;">
                      <div class="csl-right-inline">
                        Discover how we overcome constraints using Approximate Computing and Bespoke design principles. Explore our innovative automated framework for crafting ultra-low power Multilayer Perceptron (MLP) classifiers, introducing a holistic approximation approach to all neuron components; multiplier, accumualor and activation.                    </div>
                  </p>
                  <div class="text-center"
                  <span class="icon icon-github">{% include icon-github.svg %}</span>
                    <a href="https://github.com/floAfentaki/Approximation-Techniques-Targeting-Printed-MLPs" class="git">Approximation-Techniques-Targeting-Printed-MLPs</a>
                  </div>
                  </li> -->

                  <li > 
                    <h4 style="text-transform: inherit;">Fault Sensitivity Analysis of Printed Bespoke Multilayer Perceptron Classifiers</h4>
                    <p style="margin-top: 15px;">
                      <div class="csl-right-inline">
                        Dive into our exploration of fault sensitivity in printed multilayer perceptron (MLP) classifiers tailored for Printed Electronics (PE) applications. Our study delves into the analysis of various digital and analog realizations of printed MLPs, assessing their reliability across diverse classification tasks. We evaluate different digital architectures, including generic, bespoke, and approximate designs, to provide comprehensive insights into fault sensitivity on benchmark datasets. Explore how our findings contribute to enhancing the reliability and robustness of MLPs in emerging PE technologies.                      </div>
                  </p>
                  <div class="text-center"
                  <span class="icon icon-github">{% include icon-github.svg %}</span>
                    <a href="https://github.com/PrintedElectronics/Fault_Sensitivity_Analysis" class="git">Fault_Sensitivity_Analysis</a>
                  </div>
                  </li>

                  <hr style="margin-top: 25px;">

                  <li > 
                    <h4 style="text-transform: inherit;">On-sensor Printed Machine Learning Classification via Bespoke ADC and Decision Tree Co-Design</h4>
                    <p style="margin-top: 15px;">
                      <div class="csl-right-inline">
                        For insights into on-sensor printed machine learning classification facilitated by bespoke ADC and Decision Tree co-design, visit our github.
                      </p>
                  <div class="text-center"
                  <span class="icon icon-github">{% include icon-github.svg %}</span>
                    <a href="https://github.com/garmeniakos/Ax-Printed-ML-Classifiers/tree/main/On-sensor%20Printed%20Machine%20Learning%20Classification%0Avia%20Bespoke%20ADC%20and%20Decision%20Tree%20Co-Design" class="git">Ax-Printed-ML-Classifiers</a>
                  </div>
                  </li>

                  <hr style="margin-top: 25px;">



                    <li > 
                      <h4 style="text-transform: inherit;">Embedding Hardware Approximations in Discrete Genetic-based Training for Printed MLPs</h4>
                      <p style="margin-top: 15px;">
                      <div class="csl-right-inline">
                        Explore how integrating hardware approximation techniques into Multilayer Perceptron (MLP) training optimizes costs and enhances performance. Discover our genetic-based, hardware-aware approach tailored for printed MLPs
                    </div>
                  </p>
                  <div class="text-center"
                  <span class="icon icon-github">{% include icon-github.svg %}</span>
                    <a href="https://github.com/floAfentaki/Approximation-Techniques-Targeting-Printed-MLPs" class="git">Approximation-Techniques-Targeting-Printed-MLPs</a>
                  </div>
                  </li>

                  <hr style="margin-top: 25px;">

                  <li > 
                    <h4 style="text-transform: inherit;">Bespoke Approximation of Multiplication Accumulation and ActivationTargeting Printed Multilayer Perceptrons</h4>
                    <p style="margin-top: 15px;">
                      <div class="csl-right-inline">
                        Discover how we overcome constraints using Approximate Computing and Bespoke design principles. Explore our innovative automated framework for crafting ultra-low power Multilayer Perceptron (MLP) classifiers, introducing a holistic approximation approach to all neuron components; multiplier, accumualor and activation.                    </div>
                  </p>
                  <div class="text-center"
                  <span class="icon icon-github">{% include icon-github.svg %}</span>
                    <a href="https://github.com/floAfentaki/Approximation-Techniques-Targeting-Printed-MLPs" class="git">Approximation-Techniques-Targeting-Printed-MLPs</a>
                  </div>
                  </li>
                   
                  <hr style="margin-top: 25px;">

                </ul>

              
                    

            </div>
      </div>
    
            

</section>