<!-- <section id="description" class="bg-light-gray">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Description</h1>
            AutoPNN (Automated Printed Neural Network via Software-Hardware Approximation and Codesign for Machine Learning Classification in Printed Electronics) is a 2-year research project targeting the development of a fully automated framework for enabling printed self-powered classification circuits.
            <p>
            </p>
            <img src="images/problem.png" class="mg-fluid width=95%"></img>
    
            <p class="text-justify"> Printed electronics is increasingly recognized as a key enabler for the Internet of Things
                (IoT) as part of the “Fourth Industrial Revolution”. Ultimately, printed electronics form the key technology to
                outreach the limited and physically bounded potential of silicon-based IoT systems and realize a “true”
                pervasive computing to its full potential, thus fulfilling its deepest promise. Printed electronics is expected to
                grow over the next years into a key technology with an enormous economic and social impact. Quoting the
                European Commission report on Printing Electronics : for European businesses, flexible and printed
                electronics offer opportunities in high value-added products, with most potential in several specific
                application areas. These application areas are healthcare and medical devices, smart packaging and logistics,
                sensors for IoT, industry and environmental monitoring, and automotive. The fact that in such applications
                the core task is mainly classification highlights the utmost impact of our project, i.e., automated generation
                of high-accuracy, battery-powered printed ML classifiers. Moreover, considering that partnerships and
                collaboration platforms play a critical role to enable European players to stay competitive and develop the
                market for flexible electronics in Europe , our objective to open-source AutoPNN is underlined. Finally, we
                must note that startups play a central role in the flexible and printed electronics ecosystem due to the fact
                that innovation in this field is very risky and it is usually not targeted by larger companies.
                The low equipment cost of printed electronics and open-sourcing AutoPNN will enable start-ups to do business on
                printed ML classification.</p>
            </div>
        </div>            
</section> -->

<section id="description" class="bg-light-gray">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Description</h2>
        </div>
    </div>
</section>

<section id="description-text1" class="bg-light-gray">
        <div class="row">
            <div class="container" style="background-color: #f7f7f7; color: black">
                    AutoPNN (Automated Printed Neural Network via Software-Hardware Approximation and Codesign for Machine Learning Classification in Printed Electronics) is a 2-year research project targeting the development of a fully automated framework for enabling printed self-powered classification circuits.
            </div>
         </div>
</section>

<section id="description" class="bg-light-gray">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="images\problem.png" class="mg-fluid" width=60% alt="Responsive image">
            </div>
        </div>
</section>
        

<section id="description-text2" class="bg-light-gray">
    <div class="container" style="background-color: #f7f7f7; color: black">
        <!-- <div class="row"> -->
                    Printed electronics is increasingly recognized as a key enabler for the Internet of Things
                    (IoT) as part of the “Fourth Industrial Revolution”. Ultimately, printed electronics form the key technology to
                    outreach the limited and physically bounded potential of silicon-based IoT systems and realize a “true”
                    pervasive computing to its full potential, thus fulfilling its deepest promise. Printed electronics is expected to
                    grow over the next years into a key technology with an enormous economic and social impact. Quoting the
                    European Commission report on Printing Electronics : for European businesses, flexible and printed
                    electronics offer opportunities in high value-added products, with most potential in several specific
                    application areas. These application areas are healthcare and medical devices, smart packaging and logistics,
                    sensors for IoT, industry and environmental monitoring, and automotive. The fact that in such applications
                    the core task is mainly classification highlights the utmost impact of our project, i.e., automated generation
                    of high-accuracy, battery-powered printed ML classifiers. Moreover, considering that partnerships and
                    collaboration platforms play a critical role to enable European players to stay competitive and develop the
                    market for flexible electronics in Europe , our objective to open-source AutoPNN is underlined. Finally, we
                    must note that startups play a central role in the flexible and printed electronics ecosystem due to the fact
                    that innovation in this field is very risky and it is usually not targeted by larger companies.
                    The low equipment cost of printed electronics and open-sourcing AutoPNN will enable start-ups to do business on
                    printed ML classification.
        <!-- </div> -->
    </div>
</section>