<div class="row" id="eldek">
    <div class="team-member">
        <!-- <img style="background-color: rgb(206, 218, 233);" src="images/news-logo/logos" alt="" width=70> -->
        <img style="background-color: rgb(206, 218, 233);" src="images/logo-zervakis-1024x185.png" alt="" height=60>
        <img style="background-color: rgb(206, 218, 233);" src="images/news-logo/logo-HFRI.png" alt="" height=60>
        <p style="color: grey;">AutoPNN is implemented in the framework of H.F.R.I call “Basic research Financing (Horizontal support of all Sciences)” under the National Recovery and Resilience Plan “Greece 2.0” funded by the European Union –NextGenerationEU(H.F.R.I. Project Number: 17048).</p>
    </div>
</div>
