<!-- <section class=""> -->
  <!-- Footer -->
  <footer style="background-color: rgb(206, 218, 233);" class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div style="background-color: rgb(206, 218, 233);" class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <!-- <h5 class="text-uppercase">Social Media</h5> -->
          {%- include icon-github.html -%}
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          {%- include eldek.html -%}
        </div>
        <!--Grid column-->
        
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- <div style="background-color: white" class="text-center p-3"> -->
      Copyright © AutoPNN 2025. All right reserved.
    <!-- </div> -->

  </footer>
<!-- </section> -->