<body>

<header class="site-header" role="banner" id="myHeader" style="background-color: rgb(206, 218, 233);">
    <style>
      @media (min-width: 992px) {
    .navbar .navbar-nav {
        display: flex;
        justify-content: space-between;
    }
    .navbar .navbar-toggler {
        display: none;
    }
    }
    .site-nav{
    position: sticky;
    background-color: #ffffff;
    }
    </style>
    <div class="wrapper" style="margin-top: 30px; ">

      <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}"> -->
      <a class="site-title" rel="author" href="../intro.html">
          <img src="images\logo.png" alt="{{ site.title | escape }}" height="50"></img>
        <nav class="site-nav navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(206, 218, 233);">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon">
              <svg viewBox="0 0 18 15" width="18px" height="15px">
                <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
              </svg>
            </span>
          </label>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="trigger" style="margin-top: 2px; background-color: rgb(206, 218, 233);">
              <div class="navbar-nav">
                <div class="nav-item">
                  <a class="nav-link" href="../description.html" style="margin: 10px; padding: 10px; border: 5px; font-size: 18px; color: rgb(49, 47, 47);;">Description</a>
                  <a class="nav-link" href="../team.html" style="margin: 10px; padding: 10px; border: 5px; font-size: 18px;color: rgb(49, 47, 47);;">Team</a>
                  <a class="nav-link" href="../gallery.html" style="margin: 10px; padding: 10px; border: 5px;font-size: 18px; color: rgb(49, 47, 47);;">Gallery</a>
                  <a class="nav-link" href="../publications.html" style="margin: 10px; padding: 10px; border: 5px;font-size: 18px; color: rgb(49, 47, 47);;">Publications</a>
                  <a class="nav-link" href="../software.html" style="margin: 10px; padding: 10px; border: 5px;font-size: 18px; color: rgb(49, 47, 47);;">Software</a>
                  <a class="nav-link" href="../news.html" style="margin: 10px; padding: 10px; border: 5px; font-size: 18px; color: rgb(49, 47, 47);;">News</a>
                  <a class="nav-link" href="../ack.html" style="margin: 10px; padding: 10px; border: 5px; font-size: 18px; color: rgb(49, 47, 47);">Funding</a>
                </div>
              </div>
            </div>
          </div>

          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
               <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
              </svg>
            </span>
        </button>


         
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" href="../description.html">Description</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="../team.html">Team</a>
                </div>              
              </div>
        </div> -->

        </nav>
    </div>
</header>



<script>
  window.onscroll = function() {myFunction()};
  
  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  } 
  </script>

