<!-- <section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section> -->

<section id="intro" style="margin-top: 30px;"></section>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">AutoPNN</h2>
        </div>
    </div>
</section>

<section id="intro" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="images/intro.png" alt="Intro image">
            </div>
        </div>
    </div>
</section>
