
<!-- <div class="opacity-50"> -->
    <!-- <div class="opacity20"><p> 40%</p></div> -->
<section id="introoo" class="bg-light-gray">
        <img src="images/intro-opacity06_watermark.jpg" alt="Snow" class="img-fluid" >
        <!-- <container>
            <div class="centered text-center bd-highlight text-wrap" style="font-size:1.5vw">Printed Neural Network via <br>
                Software-Hardware Approximation and Codesign <br>
                for Machine Learning Classification in Printed Electronics<br>
            AutoPNN
            </div>
        </container> -->
</section>
    <!-- <img src="images\intro-opacity06.jpg" class="img-fluid" alt="Responsive image"> -->
<!-- </div> -->