

<section id="news" class="bg-light-gray">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">News</h2>
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
    </div>
    <div class="row">
    <!-- <h2>Conference Papers</h2> -->
        <ul class="list-group col-lg-12">
            <div class="container">
                <li class="list-group-item ">
                    <div class="card">
                        <div class="card-header">
                            <h5 align="right">[Keynote]</h5> 
                        </div>
                        <div class="card-body text-center" >
                            <h6 class="card-title">“Printed Computing: Design Automation and Computing based on Additive Printed Electronics”</h6>
                            <p class="card-text">Presenter: Mehdi B. Tahoori, Chair of Dependable Nano Computing (CDNC), Karlsruhe Institute of Technology</p>
                            <h7 class="card-text">Our keynote talk has been presented at Smart-Plant IEEE Seasonal School 2024.</h7>
                        </div>
                    </div>
                </li>
            </div>
            <div class="container">
                <li class="list-group-item ">
                    <div class="card">
                        <div class="card-header">
                            <!-- <span class="news-date">11/2023</span> -->
                            <!-- <span class="news-category">[Keynote]</span> -->
                            <h5 align="right">[Keynote]</h5> 
                        </div>
                        <div class="card-body text-center" >
                            <h6 class="card-title">“Approximate computing in neural networks”</h6>
                            <p class="card-text">Presenter: Mrazek Vojtech, Brno University of Technology (Czech)</p>
                            <h7 class="card-text">Our keynote talk has been presented at Smart-Plant IEEE Seasonal School 2024.</h7>
                        </div>
                    </div>
                </li>
            </div>
            <div class="container">
                <li class="list-group-item ">
                    <div class="card">
                        <div class="card-header">
                            <!-- <span class="news-date">11/2023</span> -->
                            <!-- <span class="news-category">[Paper]</span> -->
                            <h5 align="right">[Paper]</h5> 
                        </div>
                        <div class="card-body text-center" >
                            <h6 class="card-title">“On-sensor Printed Machine Learning Classification via Bespoke ADC and Decision Tree Co-Design”</h6>
                            <p class="card-text">Georgios Armeniakos, Priyanjana Pal, Georgios Zervakis, Mehdi B. Tahoori</p>
                            <h7 class="card-text">Our paper has been accepted by the Design Automation and Test in Europe 2024 Conference (DATE’24).</h7>
                        </div>
                    </div>
                </li>
            </div>
            <div class="container">
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-header">
                            <!-- <span class="news-date">11/2023</span> -->
                            <!-- <span class="news-category">[paper]</span> -->
                            <h5 align="right">[Paper]</h5> 
                        </div>
                        <div class="card-body text-center" >
                            <h6 class="card-title">Embedding Hardware Approximations in Discrete Genetic-based Training for Printed MLPs</h6>
                            <p class="card-text">Florentia Afentaki, Michael Hefenbrock, Georgios Zervakis, Mehdi B. Tahoori</p>
                            <h7 class="card-text">Our paper has been accepted by the Design Automation and Test in Europe 2024 Conference (DATE’24).</h7>
                        </div>
                    </div>
                </li>
            </div>
            <div class="container">
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-header">
                            <!-- <span class="news-date">11/2023</span> -->
                            <!-- <span class="news-category">[Paper]</span> -->
                            <h5 align="right">[Paper]</h5> 
                        </div>
                        <div class="card-body text-center">
                            <h6 class="card-title">Bespoke Approximation of Multiplication-Accumulation and Activation Targeting Printed Multilayer Perceptrons</h6>
                            <p class="card-text">Florentia Afentaki, Gurol Saglam, Argyris Kokkinis, Kostas Siozios, Georgios Zervakis, Mehdi B. Tahoori</p>
                            <h7 class="card-text">
                                Our paper has been accepted by the International Conference on Computer-Aided Design 2023 (ICCAD’23).
                            </h7>
                        </div>
                    </div>
                </li>
            </div>

            <!-- Add more papers as needed -->
        </ul>
    </div>
</section>