<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main>
      <div class="centering">
    <!-- <main class="page-content">
      <div class="wrapper"> -->
        {%- include intro.html -%}
        {%- include description.html -%}
        {%- include goal.html -%}
        {%- include aboutUs.html -%}
      <!-- </div> -->
    <!-- </main> -->
  </div>
  </main>
    
    {%- include footer.html -%}

  </body>

</html>
